<ion-tabs>

  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <span class="text"> Home </span>
      </ion-tab-button>

      <ion-tab-button tab="category">
            <ion-icon name="file-tray-full"></ion-icon>
            <span class="text"> Categories </span>
      </ion-tab-button>

      <ion-tab-button tab="searsh-bar">
            <ion-icon name="search"></ion-icon>
            <span class="text"> Search </span>      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
